.signup-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;    
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
} 

 .signup-form input {
    margin-bottom: 3px;
}

.formulario{
    text-align: center;
    margin-left: 100px;
}
.login-container{
    background: rgb(18, 108, 131);
    background-attachment: initial;
    height: 800px;
     padding-left: 200px;
     text-align: center;
}
.logo_app{
    height: 300px;
    margin-top: 30px;
}
.form-elegant .font-small {
    font-size: 0.8rem; }
  
  .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
  
  .form-elegant .z-depth-1-half,
  .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }